<style type=stile/css>
p {
  font-family:italic;
}
 .titolo{ 
	font-family:italic;
	font-size:32px; 
	font-weight:bolder;
	position:absolute;
	top: 15%;
	left: 35%;
	color: green;
	}
 .titolo2{ 
	font-family:italic;
	font-size:32px; 
	font-weight:bolder;
	position:absolute;
	top: 12%;
	left: 45%;
	color: red;
	}
.type{
	position: absolute;
	top: 22%;
	left: 15%;
	color: green;
}
.device{
	position: absolute;
	top: 28%;
	left: 20%;
	color: green;
}
.connector{
	position: absolute;
	top: 34%;
	left: 25%;
	color: green;
}
.features0{
	position: absolute;
	top: 22%;
	right: 15%;
	color: green;
}
.features1{
	position: absolute;
	top: 26%;
	right: 15%;
	color: green;
}
.features2{
	position: absolute;
	top: 30%;
	right: 15%;
	color: green;
}
.features3{
	position: absolute;
	top: 34%;
	right: 15%;
	color: green;
}
.pin{
	position: absolute;
	top: 40%;
	left: 35%;
	height:50%;
}
.titolo1{ 
	font-family:italic;
	font-size:32px; 
	font-weight:bolder;
	position:absolute;
	top: 40%;
	left:46%;
	color: green;
	}
.classe{
	color: white;
	position:absolute;
	top: 2%;
	left 5%;
}

.autori{
	color: white;
	position: absolute;
	top: 2%;
	right: 1%;
}

.immagine1{
	position: absolute;
	top: 30%;
	left: 40%;
	width:20%;
}

p1{
  	border: 3px solid powderblue;
  	padding: 10px;
	color: red;
	href="https://www.w3schools.com/" target="_blank"
}
p2{
  	border: 3px solid powderblue;
  	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: red;
}


.primo{
	background-color: yellow;
	position:absolute;
	top:10px;
	left: 40%;
}
.secondo{
	background-color: yellow;
	position:absolute;
	top:10px;
	right:40%;
}

.cell{
	position: absolute;
	top: 20%;
	left: 5%;
	height:20%;
}

.media{
	position: absolute;
	top: 20%;
	right: 5%;
	height:20%;
}

.stranaaa{
	position: absolute;
	top: 60%;
	left: 5%;
	height:20%;
}

.doppiapresa{
	position: absolute;
	top: 60%;
	right: 5%;
	height:20%;
}
.testo1{
	position: absolute;
	top: 20%;
	left: 20%;
}
.testo2{
	position: absolute;
	top: 20%;
	right: 17%;
}
.testo3{
	position: absolute;
	top: 60%;
	left: 17%;
}
.testo5{
	position: absolute;
	top: 60%;
	right: 20%;
}
.terzo{
	background-color: yellow;
	position:absolute;
	top:10px;
	right:20%;
}

</style>
